<template name="components_diagnostics">
    <div class="panel panel-default panel-dapp panel-health panel-diagnostics">
        <table class="panel-body table">
                <tr><td class="heading">{{i18n 'dapp.app.headers.balance'}}</td><td>{{balance}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.coinbase'}}</td><td>{{coinbase}}..</td>
                <td class="heading">{{i18n 'dapp.app.headers.listening'}}</td><td>{{#if listening}} <i class="glyphicon glyphicon-ok"></i> {{else}} <i class="glyphicon glyphicon-remove"></i> {{/if}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.peerCount'}}</td><td>{{peerCount}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.accountCount'}}</td><td>{{accountCount}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.gasPrice'}}</td><td>{{gasPrice}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.version'}}</td><td>{{version}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.client'}}</td><td>{{client}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.blockNumber'}}</td><td>{{blockNumber}}</td>
                <td class="heading">{{i18n 'dapp.app.headers.mining'}}</td><td>{{#if mining}} <i class="glyphicon glyphicon-ok"></i> {{else}} <i class="glyphicon glyphicon-remove"></i> {{/if}}</td></tr>		
        </table>
    </div>
</template>